:root{
  --background-color:hsl(216, 45%, 89%);
  --card-color: hsl(0,0%,100%);
  --attribute-a-color: hsl(228, 45%, 44%);
  --h1-color:hsl(218, 44%, 22%);
  --p-color:hsl(220, 15%, 55%);

}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--attribute-a-color);
}

body {
  background-color:var(--background-color);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: var(--card-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 17rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  border-radius: 0.625rem;
  max-height: 18rem;
  max-width: 18rem;
}

h1 {
  font-size: 1.375rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: var(--h1-color);
  text-align: center;
  width: 100%;
}

p {
  font-size: 0.94rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: var(--p-color);
  text-align: center;
}
